<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Spam_Detector/CSS/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Spam_Detector/CSS/Style.css' %}">
    <link rel="stylesheet" href="{% static 'Spam_Detector/CSS/radio.css' %}">
    <title>Spam Message Detector</title>
</head>

<body>
    <!-- Main Section Start -->
    <section>
        <!-- Header part start -->
        <header>
            <nav>
                <div><a href="#" class="brand">SMD</a></div>
                <ul>
                    <li><a href="#" class="active">Web App</a></li>
                    <li><a href="#">Web Api</a></li>
                </ul>
            </nav>
        </header>
        <!-- Header part end -->

        <!-- Main Content part start -->
        <div class="fluid-container content">
            <div class="row m-auto">
                <!-- Left side Text part start -->
                <div class="col-md-6 p-5 m-auto typo-content">
                    <h1>
                        Welcome to SMD
                    </h1>
                    <h4>[Spam Message Detection]</h4>
                        <p>
                            This is a online platform where
                            you can check any message either
                            it is Spam Message or not.
                        </p>
                        <p>
                            Just enter your message into the
                            Textarea and select algorithm,
                            press CHECK button and wait
                            while your data proceeds.
                        </p>
                        <p>
                            After proccessing you will see
                            the result.
                        </p>
                </div>
                <!-- Left side Text part end -->

                <!-- Form part start -->
                <div class="col-md-6 p-5 m-auto form-content">
                    <form method="post" action="check" class="main-form">
                        {% csrf_token %}
                        <textarea name="rawdata" placeholder="Enter Your Text Here..." id="rawdata" required></textarea><br>
                        <div class="algo-choice">
                            <label class="radiocontainer">Algo - 1
                                <input type="radio" name="algo" value="Algo-1">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radiocontainer">Algo - 2
                                <input type="radio" name="algo" value="Algo-2">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="check-holder">
                            <button type="submit" class="check-btn">CHECK</button>
                        </div>
                    </form>
                </div>
                <!-- Form part end -->
            </div>
            <!-- Footer start -->
            <div class="footer">
                <p>Copyright &copy; 2025 Developed by <b>Group 9</b> </p>
            </div>
            <!-- Footer end -->
        </div>
        <!-- Main Content part end -->
    </section>
    <!-- Main Section End -->
    <script src="./Js/JQuery.js"></script>
    <script src="./Js/Bootstrap.min.js"></script>
    <script src="./Js/Main.js"></script>
</body>

</html>